export(
AltReg,
BA.est,
BA.plot,
AB.plot,
BlandAltman,
Deming,
DA.reg,
y2DA,
DA2y,
          Meth,
  summary.Meth,
     mean.Meth,
     sort.Meth,
     plot.Meth,
   subset.Meth,
   sample.Meth,
transform.Meth,
          Meth.sim,
        MCmcmc,
summary.MCmcmc,
 subset.MCmcmc,
  print.MCmcmc,
   mcmc.MCmcmc,
  trace.MCmcmc,
   post.MCmcmc,
  pairs.MCmcmc,
   plot.MCmcmc,
   plot.VarComp,
        MethComp,
  print.MethComp,
   plot.MethComp,
  lines.MethComp,
 points.MethComp,
        PBreg,
  print.PBreg,
   plot.PBreg,
predict.PBreg,
 check.trans,
choose.trans,
abconv,
corr.measures,
middle, ends,
bothlines,
 has.repl,
make.repl,
perm.repl,
to.wide,
to.long,
TDI,
VC.est )
# register S3 methods
S3method(plot, Meth)
S3method(summary, Meth)
S3method(mean, Meth)
S3method(sort, Meth)
S3method(subset, Meth)
S3method(sample, Meth)
S3method(transform, Meth)
S3method(plot, MCmcmc)
S3method(print, MCmcmc)
S3method(summary, MCmcmc)
S3method(subset, MCmcmc)
S3method(mcmc, MCmcmc)
S3method(trace, MCmcmc)
S3method(post, MCmcmc)
S3method(pairs, MCmcmc)
S3method(plot, MethComp)
S3method(print, MethComp)
S3method(plot, MethComp)
S3method(lines, MethComp)
S3method(points, MethComp)
S3method(plot, PBreg)
S3method(print, PBreg)
S3method(predict, PBreg)
